body {
  background-image: url("bank.PNG");
}

.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.balance-container {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.balance-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.transaction-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-container h3 {
  font-size: 16px;
  margin-right: 10px;
}

.transaction-container input[type="number"],
.transaction-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.transaction-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-container button:hover {
  background-color: #0056b3;
}

.transaction-log-container {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.transaction-log-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.transaction-log-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-log-button:hover {
  background-color: #0056b3;
}

.transaction-log-list {
  list-style-type: none;
  padding: 0;
}

.transaction-log-item {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
